:root {
    /* CSS HEX */
    --black: #000501ff; /*Fondo oscuro*/
    --dark-green: #09342Cff; /*Segundario sobre claro*/
    --turquoise: #48e5c2ff; /*Segundario sobre oscuro*/
    --white-smoke: #f5f3f5ff; /*Texto (Intentar estar siempre sobre oscuro)*/
    --light-cyan: #e0fbfcff; /*Fondo claro*/
}

body {
    background-color: var(--black);
    color: var(--white-smoke) !important;
}

/*** CLASES GLOBALES ***/
.no-bot-padd {
    padding-bottom: 0;
}
.bot-padd {
    padding-bottom: 60px;
}

.darkbg-lightfr {
    background-color: var(--black) !important;
    color: var(--turquoise) !important;
}
.lightbg-darkfr {
    background-color: var(--light-cyan) !important;
    color: var(--dark-green) !important;
}
.material-symbols-outlined {
    color: var(--turquoise) !important;
}
.darkbg-lightfr .material-symbols-outlined {
    color: var(--turquoise) !important;
}
.lightbg-darkfr .material-symbols-outlined {
    color: var(--dark-green) !important;
}


/* Bottom nav fixed at bottom */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 90%;
    z-index: 1030; /* above content */
    margin: 0 5% 20px 5%;
    border-radius: 10px;
}

/* Top floating menu for Live View */
.top-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    margin: 20px 10% 0 10%;
    border-radius: 10px;
    z-index: 1040;
}
.container-fluid {
    align-content: center;
    align-items: center;
}
.top-menu-elems {
    align-content: center;
    align-items: center;
    margin: auto 0;
    display: flex;
    flex-direction: row;
}
#directionId {
    margin-right: 10px;
}
#floorId {
    margin-left: 10px;
}

/* Container spacing when top menu is visible: push content down */
.with-top-menu {
    padding-top: 56px; /* height of top menu */
}
/* Section containers hidden by default */
.section-container {
    display: none;
    padding: 1rem;
}
.section-container.active {
    display: block;
}
