:root {
    /* CSS HEX */
    --fondo: #000501ff; /*Fondo oscuro*/
    --texto-segundario: #09342cff; /*Segundario sobre claro*/
    --iconos: #48e5c2ff; /*Segundario sobre oscuro*/
    --texto-primario: #f5f3f5ff; /*Texto (Intentar estar siempre sobre oscuro)*/
    --fondo-segundario: #e0fbfcff; /*Fondo claro*/
}

body {
    background-color: var(--fondo);
    color: var(--texto-primario) !important;
}

/*** CLASES GLOBALES ***/
/* Generales visuales */
.no-bot-padd {
    padding-bottom: 0;
}
.bot-padd {
    padding-bottom: 60px;
}

.darkbg-lightfr {
    background-color: var(--fondo) !important;
    color: var(--iconos) !important;
}
.lightbg-darkfr {
    background-color: var(--fondo-segundario) !important;
    color: var(--texto-segundario) !important;
}
.material-symbols-outlined {
    color: var(--iconos) !important;
}
.darkbg-lightfr .material-symbols-outlined {
    color: var(--iconos) !important;
}
.lightbg-darkfr .material-symbols-outlined {
    color: var(--texto-segundario) !important;
}

.container-fluid {
    align-content: center;
    align-items: center;
}

/* Panel de navegación del fondo*/
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 90%;
    z-index: 1030;
    margin: 0 5% 20px 5%;
    border-radius: 10px;
}
/* Visibilidad de los contenedores de cada sección */
.section-container {
    display: none;
    padding: 1rem;
}
.section-container.active {
    display: block;
}
/*Menus flotantes*/
.overMenu {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100vh;
}

/*** PANELES ***/

/* Home */
#search_bar {
    display: flex;
    flex-direction: row;
    align-self: center;
    max-width: max-content;
    padding: 10px;
    border: 1px solid var(--fondo-segundario);
    border-radius: 10px;
    width: 100%;
    margin: auto auto;
}
#search_bar input {
    background-color: #00000000 !important;
    border: none;
    color: var(--texto-primario) !important;
}
#search_bar input::placeholder {
    color: var(--texto-primario) !important;
}
.search-container {
    margin-bottom: 30px;
    padding: 20px;
}
#home-text {
    margin-top: 30px;
}
#poi {
    height: 250px;
    width: auto;
    background-color: #48e5c2ff;
}
#recents {
    height: 250px;
    width: auto;
    background-color: #48e5c2ff;
}
#massive-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card {
    margin: 10px auto;
    border-radius: 10px;
    width: 80%;
    border: 1px solid var(--fondo-segundario);
    background-color: #00000000 !important;
    padding: 0 !important;
}
.card-header {
    background-color: var(--fondo-segundario);
    color: var(--texto-segundario);
    font-weight: bold;
}
.list-group-item {
    border: none;
    display: flex;
    padding: 10px 15px;
    background-color: #00000000 !important;
    color: var(--texto-primario) !important;
    align-content: center;
    align-items: center;
}
.option-title {
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid #0d6efd;
}
#about-buildings {
    margin: 20px auto;
}

/* Live View */
#topMenuLive {
    width: 80%;
    margin: 20px 10% 0 10%;
    border-radius: 10px;
}
.top-menu-elems {
    align-content: center;
    align-items: center;
    margin: auto 0;
    display: flex;
    flex-direction: row;
}
#directionId {
    margin-right: 10px;
}
#floorId {
    margin-left: 10px;
}

/* Mapa */
#mapSection {
    height: 100vh;
    width: 100%;
    background-color: #FFFFFF !important;
    overflow: hidden;
    position: relative; /* Posición absoluta dentro del contenedor */
    z-index: 0;         /* Mantenerlo debajo de cualquier otro elemento */
}
