:root {
  /* CSS HEX */
  --black: #000501ff; /*Fondo oscuro*/
  --dark-green: #09342cff; /*Segundario sobre claro*/
  --turquoise: #48e5c2ff; /*Segundario sobre oscuro*/
  --white-smoke: #f5f3f5ff; /*Texto (Intentar estar siempre sobre oscuro)*/
  --light-cyan: #e0fbfcff; /*Fondo claro*/
}

body {
  background-color: var(--black);
  color: var(--white-smoke) !important;
}

/*** CLASES GLOBALES ***/
/* Generales visuales */
.no-bot-padd {
  padding-bottom: 0;
}
.bot-padd {
  padding-bottom: 60px;
}

.darkbg-lightfr {
  background-color: var(--black) !important;
  color: var(--turquoise) !important;
}
.lightbg-darkfr {
  background-color: var(--light-cyan) !important;
  color: var(--dark-green) !important;
}
.material-symbols-outlined {
  color: var(--turquoise) !important;
}
.darkbg-lightfr .material-symbols-outlined {
  color: var(--turquoise) !important;
}
.lightbg-darkfr .material-symbols-outlined {
  color: var(--dark-green) !important;
}

.container-fluid {
    align-content: center;
    align-items: center;
}

/* Panel de navegación del fondo*/
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 90%;
  z-index: 1030;
  margin: 0 5% 20px 5%;
  border-radius: 10px;
}
/* Visibilidad de los contenedores de cada sección */
.section-container {
    display: none;
    padding: 1rem;
}
.section-container.active {
    display: block;
}

/*** PANELES ***/

/* Home */
#search_bar {
    display: flex;
    flex-direction: row;
    align-self: center;
    max-width: max-content;
    padding: 10px;
    border: 1px solid var(--light-cyan);
    border-radius: 10px;
}
#search_bar input {
    background-color: #00000000 !important;
    border: none;
    color: var(--white-smoke) !important;
}
#search_bar input::placeholder {
    color: var(--white-smoke) !important;
}
.search-container {
    margin-bottom: 30px;
    padding: 20px;
}
#home-text {
    margin-top: 30px;
}
#poi {
    height: 250px;
    width: auto;
    background-color: #48e5c2ff;
}
#recents {
    height: 250px;
    width: auto;
    background-color: #48e5c2ff;
}
#massive-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card {
    margin: 10px auto;
    border-radius: 10px;
    width: 80%;
    border: 1px solid var(--light-cyan);
    background-color: #00000000 !important;
    padding: 0 !important;
}
.card-header {
    background-color: var(--light-cyan);
    color: var(--dark-green);
    font-weight: bold;
}
.list-group-item {
    border: none;
    display: flex;
    padding: 10px 15px;
    background-color: #00000000 !important;
    color: var(--white-smoke) !important;
    align-content: center;
    align-items: center;
}
.option-title {
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid #0d6efd;
}


/* Live View */
.top-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  margin: 20px 10% 0 10%;
  border-radius: 10px;
  z-index: 1040;
}
.top-menu-elems {
  align-content: center;
  align-items: center;
  margin: auto 0;
  display: flex;
  flex-direction: row;
}
#directionId {
  margin-right: 10px;
}
#floorId {
  margin-left: 10px;
}
.with-top-menu {
  padding-top: 56px;
}

/* Mapa */
#map {
    align-content: center;
    height: 500px;
    width: 500px;
}
#map_container {
    align-items: center;
    display: flex;
    width: 500px;
    align-self: center;
}

